
<div class="card">
  <div class="img-beer">
  <img class="card-img-top" src={{this.images.0.url}} alt="A Beer">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <div class="des-text">
    <p><a href="/albums/{{this.id}}">View Albums</a></p>
    </div>
  </div>
</div>